.main {
  display: block;
  width: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: #0d0d0d;
  background: rgba(255, 255, 255, 0.45);
  border: 'none';
  border-radius: '8px';
  letter-spacing: '3px';
  margin-top: 10px;
}

.inputs {
  margin-top: 15px;
}
