.addBtn {
  outline: none;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  color: #006699;

  margin-left: 15px;
  border-radius: 10px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
  transition: 0.4s linear;
}

.addBtn:hover {
  color: #043249;
  transform: scale(1.1);
}

.mainBar {
  display: flex;
}
